source https://www.nuget.org/api/v2
storage: none

nuget Fable.Core prerelease
nuget Fable.Geojson
nuget Fable.Browser.Dom
nuget Fable.Import.Browser
nuget Fable.Import.GoogleMaps
nuget Fable.Leaflet

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE ~> 4
    github fsharp/FAKE modules/Octokit/Octokit.fsx
    github fable-compiler/fake-helpers:fake_legacy Fable.FakeHelpers.fs
