source https://www.nuget.org/api/v2
storage: none

clitool dotnet-Fable
nuget Fable.Core
nuget Fable.Geojson
nuget Fable.Import.Browser
nuget Fable.Import.GoogleMaps 0.1.0
nuget Fable.Leaflet

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE
    github fsharp/FAKE modules/Octokit/Octokit.fsx
    github fable-compiler/fake-helpers Fable.FakeHelpers.fs
