source https://www.nuget.org/api/v2
storage: none

nuget Fable.Core
nuget Fable.Import.Browser

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE
