github elmish/react src/common.fs
github elmish/react src/react.fs

group Server
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget FSharp.Core
  nuget Giraffe ~> 1
  nuget Microsoft.AspNetCore
  nuget Microsoft.AspNetCore.StaticFiles
  nuget Thoth.Json.Giraffe

group Client
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget Fable.Core
  nuget Fable.Elmish
  nuget Fable.Browser.Dom
  nuget Thoth.Json

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4
